        :root {
            --primary: #EB0924;
            --secondary: #F77786;
            --accent: #998486;
            --light: #D1A1A7;
            --lighter: #C7AFB2;
        }

        .bg-primary { background-color: var(--primary); }
        .bg-secondary { background-color: var(--secondary); }
        .bg-accent { background-color: var(--accent); }
        .bg-light { background-color: var(--light); }
        .bg-lighter { background-color: var(--lighter); }

        .text-primary { color: var(--primary); }
        .text-secondary { color: var(--secondary); }
        .text-accent { color: var(--accent); }

        .border-primary { border-color: var(--primary); }
        .hover\:bg-primary:hover { background-color: var(--primary); }
        .hover\:bg-secondary:hover { background-color: var(--secondary); }
        